In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

plt.style.use('fivethirtyeight')

In [2]:
train = pd.read_csv('application_train.csv')

In [46]:
train.shape

(356255, 244)

In [3]:
bureau = pd.read_csv('bureau.csv')
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [47]:
bureau.shape

(1716428, 26)

In [4]:
test = pd.read_csv('application_test.csv')

In [5]:
train['is_test'] = 0
test['is_test'] = 1

In [6]:
train = pd.concat([train, test])

In [48]:
train.shape

(356255, 244)

In [7]:
previous_loan_counts = bureau.groupby('SK_ID_CURR', as_index=False).size()
previous_loan_counts

        SK_ID_CURR  size
0           100001     7
1           100002     8
2           100003     4
3           100004     2
4           100005     3
...            ...   ...
305806      456249    13
305807      456250     3
305808      456253     4
305809      456254     1
305810      456255    11

[305811 rows x 2 columns]

In [8]:
previous_loan_counts = previous_loan_counts.rename(columns = {'size': 'previous_loan_counts'})

In [9]:
train = train.merge(previous_loan_counts, on='SK_ID_CURR', how='left')

In [49]:
train.shape

(356255, 244)

In [10]:
train['previous_loan_counts'] = train['previous_loan_counts'].fillna(0)

In [11]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,is_test,previous_loan_counts
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,0,8.0
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,4.0
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,2.0
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0

In [12]:
bureau.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

In [13]:
cols = ['CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'CREDIT_TYPE']

In [19]:
pd.get_dummies(bureau[cols[0]])

         Active  Bad debt  Closed   Sold
0         False     False    True  False
1          True     False   False  False
2          True     False   False  False
3          True     False   False  False
4          True     False   False  False
...         ...       ...     ...    ...
1716423    True     False   False  False
1716424   False     False    True  False
1716425   False     False    True  False
1716426   False     False    True  False
1716427   False     False    True  False

[1716428 rows x 4 columns]

In [20]:
for x in cols:
    dummies = pd.get_dummies(bureau[cols[0]], prefix=x)
    bureau = pd.concat([bureau, dummies], axis=1)

In [21]:
bureau.drop(cols, axis=1, inplace=True)

In [22]:
bureau_agg = bureau.drop(columns = ['SK_ID_BUREAU']).groupby('SK_ID_CURR', as_index = False).agg(['count', 'mean', 'max', 'min', 'sum'])

In [23]:
bureau_agg

       SK_ID_CURR DAYS_CREDIT                                  \
                        count         mean   max   min    sum
0          100001           7  -735.000000   -49 -1572  -5145
1          100002           8  -874.000000  -103 -1437  -6992
2          100003           4 -1400.750000  -606 -2586  -5603
3          100004           2  -867.000000  -408 -1326  -1734
4          100005           3  -190.666667   -62  -373   -572
...           ...         ...          ...   ...   ...    ...
305806     456249          13 -1667.076923  -483 -2713 -21672
305807     456250           3  -862.000000  -760 -1002  -2586
305808     456253           4  -867.500000  -713  -919  -3470
305809     456254           1 -1104.000000 -1104 -1104  -1104
305810     456255          11 -1089.454545  -363 -2337 -11984

       CREDIT_DAY_OVERDUE               ... CREDIT_TYPE_Closed            \
                    count mean max min  ...              count      mean
0                       7  0.0   0   0  ...                  7  0.571429
1                       8  0.0   0   0  ...                  8  0.750000
2                       4  0.0   0   0  ...                  4  0.750000
3                       2  0.0   0   0  ...                  2  1.000000
4                       3  0.0   0   0  ...                  3  0.333333
...                   ...  ...  ..  ..  ...                ...       ...
305806                 13  0.0   0   0  ...                 13  0.846154
305807                  3  0.0   0   0  ...                  3  0.333333
305808                  4  0.0   0   0  ...                  4  0.500000
305809                  1  0.0   0   0  ...                  1  1.000000
305810                 11  0.0   0   0  ...                 11  0.545455

                        CREDIT_TYPE_Sold
         max    min sum            count mean    max    min sum
0       True  False   4                7  0.0  False  False   0
1       True  False   6                8  0.0  False  False   0
2       True  False   3                4  0.0  False  False   0
3       True   True   2                2  0.0  False  False   0
4       True  False   1                3  0.0  False  False   0
...      ...    ...  ..              ...  ...    ...    ...  ..
305806  True  False  11               13  0.0  False  False   0
305807  True  False   1                3  0.0  False  False   0
305808  True  False   2                4  0.0  False  False   0
305809  True   True   1                1  0.0  False  False   0
305810  True  False   6               11  0.0  False  False   0

[305811 rows x 121 columns]

In [24]:
agg = bureau_agg[['CREDIT_ACTIVE_Active', 'CREDIT_ACTIVE_Closed', 'CREDIT_ACTIVE_Sold']]
agg

       CREDIT_ACTIVE_Active                             CREDIT_ACTIVE_Closed  \
                      count      mean    max    min sum                count
0                         7  0.428571   True  False   3                    7
1                         8  0.250000   True  False   2                    8
2                         4  0.250000   True  False   1                    4
3                         2  0.000000  False  False   0                    2
4                         3  0.666667   True  False   2                    3
...                     ...       ...    ...    ...  ..                  ...
305806                   13  0.153846   True  False   2                   13
305807                    3  0.666667   True  False   2                    3
305808                    4  0.500000   True  False   2                    4
305809                    1  0.000000  False  False   0                    1
305810                   11  0.454545   True  False   5                   11

                                  CREDIT_ACTIVE_Sold
            mean   max    min sum              count mean    max    min sum
0       0.571429  True  False   4                  7  0.0  False  False   0
1       0.750000  True  False   6                  8  0.0  False  False   0
2       0.750000  True  False   3                  4  0.0  False  False   0
3       1.000000  True   True   2                  2  0.0  False  False   0
4       0.333333  True  False   1                  3  0.0  False  False   0
...          ...   ...    ...  ..                ...  ...    ...    ...  ..
305806  0.846154  True  False  11                 13  0.0  False  False   0
305807  0.333333  True  False   1                  3  0.0  False  False   0
305808  0.500000  True  False   2                  4  0.0  False  False   0
305809  1.000000  True   True   1                  1  0.0  False  False   0
305810  0.545455  True  False   6                 11  0.0  False  False   0

[305811 rows x 15 columns]

In [25]:
bureau_agg.columns

MultiIndex([(        'SK_ID_CURR',      ''),
            (       'DAYS_CREDIT', 'count'),
            (       'DAYS_CREDIT',  'mean'),
            (       'DAYS_CREDIT',   'max'),
            (       'DAYS_CREDIT',   'min'),
            (       'DAYS_CREDIT',   'sum'),
            ('CREDIT_DAY_OVERDUE', 'count'),
            ('CREDIT_DAY_OVERDUE',  'mean'),
            ('CREDIT_DAY_OVERDUE',   'max'),
            ('CREDIT_DAY_OVERDUE',   'min'),
            ...
            ('CREDIT_TYPE_Closed', 'count'),
            ('CREDIT_TYPE_Closed',  'mean'),
            ('CREDIT_TYPE_Closed',   'max'),
            ('CREDIT_TYPE_Closed',   'min'),
            ('CREDIT_TYPE_Closed',   'sum'),
            (  'CREDIT_TYPE_Sold', 'count'),
            (  'CREDIT_TYPE_Sold',  'mean'),
            (  'CREDIT_TYPE_Sold',   'max'),
            (  'CREDIT_TYPE_Sold',   'min'),
            (  'CREDIT_TYPE_Sold',   'sum')],
           length=121)

In [26]:
bureau_agg.columns = [x[0] + '_' + x[1] for x in bureau_agg.columns]

In [27]:
bureau_agg.columns

Index(['SK_ID_CURR_', 'DAYS_CREDIT_count', 'DAYS_CREDIT_mean',
       'DAYS_CREDIT_max', 'DAYS_CREDIT_min', 'DAYS_CREDIT_sum',
       'CREDIT_DAY_OVERDUE_count', 'CREDIT_DAY_OVERDUE_mean',
       'CREDIT_DAY_OVERDUE_max', 'CREDIT_DAY_OVERDUE_min',
       ...
       'CREDIT_TYPE_Closed_count', 'CREDIT_TYPE_Closed_mean',
       'CREDIT_TYPE_Closed_max', 'CREDIT_TYPE_Closed_min',
       'CREDIT_TYPE_Closed_sum', 'CREDIT_TYPE_Sold_count',
       'CREDIT_TYPE_Sold_mean', 'CREDIT_TYPE_Sold_max', 'CREDIT_TYPE_Sold_min',
       'CREDIT_TYPE_Sold_sum'],
      dtype='object', length=121)

In [28]:
bureau_agg.columns = np.hstack([['SK_ID_CURR'], bureau_agg.columns[1:]])

In [29]:
bureau_agg.head()

,SK_ID_CURR,DAYS_CREDIT_count,DAYS_CREDIT_mean,DAYS_CREDIT_max,DAYS_CREDIT_min,DAYS_CREDIT_sum,CREDIT_DAY_OVERDUE_count,CREDIT_DAY_OVERDUE_mean,CREDIT_DAY_OVERDUE_max,CREDIT_DAY_OVERDUE_min,...,CREDIT_TYPE_Closed_count,CREDIT_TYPE_Closed_mean,CREDIT_TYPE_Closed_max,CREDIT_TYPE_Closed_min,CREDIT_TYPE_Closed_sum,CREDIT_TYPE_Sold_count,CREDIT_TYPE_Sold_mean,CREDIT_TYPE_Sold_max,CREDIT_TYPE_Sold_min,CREDIT_TYPE_Sold_sum
0,100001,7,-735.000000,-49,-1572,-5145,7,0.0,0,0,...,7,0.571429,True,False,4,7,0.0,False,False,0
1,100002,8,-874.000000,-103,-1437,-6992,8,0.0,0,0,...,8,0.750000,True,False,6,8,0.0,False,False,0
2,100003,4,-1400.750000,-606,-2586,-5603,4,0.0,0,0,...,4,0.750000,True,False,3,4,0.0,False,False,0
3,100004,2,-867.000000,-408,-1326,-1734,2,0.0,0,0,...,2,1.000000,True,True,2,2,0.0,False,False,0
4,100005,3,-190.666667,-62,-373,-572,3,0.0,0,0,...,3,0.333333,True,False,1,3,0.0,False,False,0

In [30]:
train = train.merge(bureau_agg, on='SK_ID_CURR', how='left')

In [31]:
numerical = [x for x in train.columns if train[x].dtype != 'object']

In [32]:
train[numerical].head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,CREDIT_TYPE_Active_sum,CREDIT_TYPE_Bad debt_count,CREDIT_TYPE_Bad debt_mean,CREDIT_TYPE_Bad debt_sum,CREDIT_TYPE_Closed_count,CREDIT_TYPE_Closed_mean,CREDIT_TYPE_Closed_sum,CREDIT_TYPE_Sold_count,CREDIT_TYPE_Sold_mean,CREDIT_TYPE_Sold_sum
0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,2.0,8.0,0.0,0.0,8.0,0.75,6.0,8.0,0.0,0.0
1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,1.0,4.0,0.0,0.0,4.0,0.75,3.0,4.0,0.0,0.0
2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0.0,2.0,0.0,0.0,2.0,1.00,2.0,2.0,0.0,0.0
3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0.0,1.0,0.0,0.0,1.0,1.00,1.0,1.0,0.0,0.0

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [34]:
lr = LogisticRegression()

In [29]:
train['TARGET']

0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
356250    NaN
356251    NaN
356252    NaN
356253    NaN
356254    NaN
Name: TARGET, Length: 356255, dtype: float64

In [35]:
# train.columns

In [36]:
data_0 = train[train['is_test'] == 0][numerical]
data_0

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,CREDIT_TYPE_Active_sum,CREDIT_TYPE_Bad debt_count,CREDIT_TYPE_Bad debt_mean,CREDIT_TYPE_Bad debt_sum,CREDIT_TYPE_Closed_count,CREDIT_TYPE_Closed_mean,CREDIT_TYPE_Closed_sum,CREDIT_TYPE_Sold_count,CREDIT_TYPE_Sold_mean,CREDIT_TYPE_Sold_sum
0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,2.0,8.0,0.0,0.0,8.0,0.750000,6.0,8.0,0.0,0.0
1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,1.0,4.0,0.0,0.0,4.0,0.750000,3.0,4.0,0.0,0.0
2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0.0,2.0,0.0,0.0,2.0,1.000000,2.0,2.0,0.0,0.0
3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0.0,1.0,0.0,0.0,1.0,1.000000,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0.0,0,157500.0,254700.0,27558.0,225000.0,0.032561,-9327,-236,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0.0,0,72000.0,269550.0,12001.5,225000.0,0.025164,-20775,365243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0.0,0,153000.0,677664.0,29979.0,585000.0,0.005002,-14966,-7921,...,2.0,4.0,0.0,0.0,4.0,0.500000,2.0,4.0,0.0,0.0
307509,456254,1.0,0,171000.0,370107.0,20205.0,319500.0,0.005313,-11961,-4786,...,0.0,1.0,0.0,0.0,1.0,1.000000,1.0,1.0,0.0,0.0
307510,456255,0.0,0,157500.0,675000.0,49117.5,675000.0,0.046220,-16856,-1262,...,5.0,11.0,0.0,0.0,11.0,0.545455,6.0,11.0,0.0,0.0

In [37]:
data_1 = train[train['is_test'] == 0]['TARGET']
data_1

0         1.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
307506    0.0
307507    0.0
307508    0.0
307509    1.0
307510    0.0
Name: TARGET, Length: 307511, dtype: float64

In [29]:
X = train[train['is_test'] == 0][numerical].fillna(0)
y = train[train['is_test'] == 0]['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [30]:
lr.fit(X_train, y_train)

LogisticRegression()

In [31]:
from sklearn.metrics import roc_auc_score

In [32]:
y_test.shape

(30752,)

In [33]:
lr.predict_proba(X_test)[:,1].shape

(30752,)

In [34]:
roc_auc_score(y_test, lr.predict_proba(X_test)[:,1])

np.float64(0.624351993678164)

In [39]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [36]:
knn = KNeighborsClassifier(n_neighbors=5)

In [37]:
knn_model = knn.fit(X_train, y_train)

In [38]:
knn_predictions = knn.predict(X_test)

In [40]:
accuracy = accuracy_score(y_test, knn_predictions)
print(f'Accuracy: {accuracy}')

Accuracy: 0.9142169614984391

In [41]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [42]:
model = LinearRegression()

In [45]:
kf = KFold(n_splits=5)
mse = cross_val_score(model, X, y, cv=kf, scoring='neg_mean_squared_error')

mse

array([-2.16722645e-17, -2.11933394e-18, -7.45128915e-18, -3.92731528e-18,
       -8.87744405e-18])